body {
  display: grid;
  grid-gap: 10px;
  height: 100vh;
  align-content: center;
  justify-content: center;
  background-color: var(--Pale-blue);
}

main {
  max-width: 320px;
  border-radius: 10px;
  background-color: var(--Very-pale-blue);
}

.hero {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#content {
  display: grid;
  padding: 20px;
  justify-items: center;
}

h1 {
  font: var(--text-lg);
  padding-bottom: 20px;
}

p {
  font: var(--text-md);
  color: var(--Desaturated-blue);
  text-align: center;
  padding-bottom: 20px;
}

.plans {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 60px;
  background-color: var(--Desaturated-blue-transparent);
  border-radius: 10px;
  padding: 15px;
  font: var(--text-sm);
  font-weight: 900;
}

.plan {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 140px;
  justify-content: center;
  align-items: center;
}

.plan-values span:nth-child(2) {
  color: var(--Desaturated-blue);
}

.plans a {
  text-align: right;
}

.plans a:hover {
  opacity: .7;
  text-decoration: none;
  cursor: pointer;
}

.proceed {
  width: 100%;
  margin-block: 15px;
  padding: 15px;
  background-color: var(--Bright-blue);
  color: white;
  text-align: center;
  font: var(--text-button);
  border-radius: 10px;
  text-decoration: none;
}

.proceed:hover {
  opacity: .7;
  cursor: pointer;
}

.cancel {
  font: var(--text-button);
  color: var(--Desaturated-blue);
  text-decoration: none;
}

.cancel:hover {
  color: black;
  cursor: pointer;
}

.attribution {
  font: var(--text-sm);
  text-align: center;
}

.attribution a {
  text-decoration: none;
  font-weight: 700;
  color: black;
}

.attribution a:hover {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1023px) {
  body {
    grid-gap: 0;
  }
  
  main {
    max-width: 375px;
  }

  #content {
    padding-inline: 35px;
  }

  h1 {
    padding-block: 25px;
  }

  p {
    padding-inline: 10px;
    font-size: 1.4em;
  }
}